.atms_wrapper
    width: 100%
    display: flex
    justify-content: space-evenly
    @media (max-width: 1100px) 
        flex-direction: column
    .cities_wrapper
        margin: 0 auto
        width: 25%
        box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, .2)
        border-radius: 20px
        margin-top: 40px
        @media (max-width: 1100px) 
            width: 90%
        .cities_content
            display: flex
            flex-direction: column
            overflow-y: auto
            height: 62vh
            padding: 10px 10px 20px 15px
        .button_block
            margin: 0 auto
            display: flex
            justify-content: center
            align-items: center
            padding: 10px
    .cities_departments_wrapper
        margin: 0 auto
        width: 50%
        box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, .2)
        border-radius: 20px
        margin-top: 40px
        @media (max-width: 1100px) 
            width: 90%
            margin-bottom: 20px 
        .departments_item_wrapper
            height: 62vh
            padding-left: 30px
            padding-right: 30px
            margin-top: 15px
            overflow-y: auto
            h6
                font-size: 16px
                font-weight: 300
                margin: 5px
                background-color: #3a9b007a
                border-radius: 8px
                padding-left: 10px
                padding-right: 5px
                color: white
                display: flex
                align-items: center
                justify-content: start

            